@model CheckOutViewModel

<div style="padding-top:50px">
    <h2>@ViewBag.CheckoutMsg</h2>
    <h2>Your Order Details</h2>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Fooditem Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Sub Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.shoppingCartItems)
            {
                <tr>
                    <td class="text-left">
                        @item.FoodItem.FoodName
                    </td>
                    <td class="text-right">
                        @item.FoodItem.Price
                    </td>
                    <td class="text-center"> @item.Quantity </td>
                    <td class="text-right">@((item.Quantity * item.FoodItem.Price).ToString("c"))</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.ShoppingCartTotal.ToString("c")
                </td>
            </tr>
        </tfoot>
    </table>
</div>
